<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mystyle.css">
    <title>Index page</title>
    <style>
        body{
            background-image: url(../image/background_login.jpg);
        }
    </style>
</head>

<body>
    <h2 class="redText">Welcome {{loginName}}</h2>

    <div class="header">
        <div class="form_login">
            <center style="padding-top: 8%;">
                <img src="../image/admin_image.png" width="40px" height="30px">
                <form action="/login" method="post">
                    <label for="uname">Username</label>
                    <input type="text" name="txtName" placeholder="Enter username...">

                    <label for="pword">Password</label>
                    <input type="password" name="txtPassword" placeholder="Enter password...">

                    <h2 style="color: red;">{{errorMsg}}</h2>

                    <input type="submit" value="Login">
                    <a href="/register">Register</a>
                </form>
            </center>
        </div>
    </div>
</body>

</html>