<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mystyle.css">
    <title>New Product</title>
</head>

<body>
    <center>
        <form action="/doInsert" method="post">
            <div class="form_insert">
                Name <input type="text" name="txtName" placeholder="Enter Dish Name..." required>
                <span style="color: white;" class="error">{{nameError}}</span>
                <br>
                Price <input type="text" name="txtPrice" placeholder="Enter Dish Price..." required>
                <span style="color: white;" class="error">{{priceError}}
                <br>
                <input type="submit" value="Insert">
            </div>
        </form>
    </center>
</body>

</html>