<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mystyle.css">
    <title>User</title>
</head>

<body>
    <center>
        <form action="">
            <div class="form_main">
                <h2 class="redText">Welcome {{loginName}}</h2>
                <div class="link">
                    <ul>
                        <li><a href="/insert">New product</a></li>
                        <li><a href="/view">All Products</a></li>
                    </ul>
                </div>
            </div>
        </form>
    </center>
</body>

</html>