<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mystyle.css">
    <title>Document</title>
</head>

<body>
    <center>
        <h2>Registration</h2>
        <div class="form_register">
            <form action="/doRegister" method="post">
                UserName <input type="text" name="txtName" required>
                <span style="color: white;" class="error">{{nameError}}</span>
                <br>
                Password <input type="password" name="txtPassword" required>
                <span style="color: white;" class="error">{{passError}}</span>
                <br>
                Repeatpassword <input type="password" name="txtRepassword" required>
                <span style="color: white;" class="error">{{repassError}}</span>

                <input type="submit" value="Register">
            </form>

          
        </div>
    </center>

</body>

</html>